html {
  background-color: #f2f2f2;
  font-size: 21px;
  line-height: normal;
  color: black;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
body {
  background-color: #ffffff;
  width: 1200px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  font-size: 21px;
  line-height: normal;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-size: 16px;
  line-height: normal;
  color: white;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
}
p,
.main-navigation,
.lid{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.caption{
  font-size: 21px;
}
.main-navigation {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 72px;
  padding-right: 72px;
}
.main-navigation-list {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 0;
  margin-bottom: 0;
}
.main-navigation-info {
  width: 100px;
  margin-right: 140px;
  min-height: 14px;
}
.main-navigation-photo {
  width: 100px;
  margin-right: 386px;
  min-height: 14px;
}
.main-navigation-map {
  width: 100px;
  min-height: 14px;
}
.main-navigation-hotels {
  width: 100px;
  min-height: 14px;
  margin-left: auto;
}
.index-logo-sedona {
  width: 137px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 ;
}
.intro-img {
  background: url("../img/background-main.jpg") no-repeat;
    min-height: 510px;
}
.index-intro-img{
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
}
.index-content-promo {
  background-color: #ffffff;
  width: 1200px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 55px;
  display: inline-block;
}
.content-promo{
  display: block;
  width: 440px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;
}
.promo-5reason{
  display: block;
}
.index-content-first {
  display: flex;
  height: 257px;
}
.content-first {
  background-color: #81b3d2;
  text-align: center;
  color: white;
  width: 400px;
  min-height: 257px;
}
.content-name-first{
  color: white;
  padding-top: 48px;
  padding-bottom: 20px;
  margin-right: 140px;
  margin-left: 140px;
}
.content-description-first{
  margin-right: 58px;
  margin-left: 58px;
  padding-top: 25px;
}
.content-first-img {
  width: 800px;
  }
  .content-img {
  width: 100%;
  height: 100%;
  }
.index-content-tourism {
  display: flex;
  min-height: 330px;
}
.index-content {
  text-align: center;
  width: 400px;
}
.content-name{
  padding-top: 158px;
}
.content-description-tourism {
  margin-right: 49px;
  margin-left: 49px;
  padding-top: 25px;
}
.index-content-second {
    display: flex;
    height: 257px;
}
.content-second-img {
  width: 800px;
}
.content-second {
  background-color: #81b3d2;
  color: white;
  text-align: center;
  width: 400px;
  min-height: 257px;
}
.content-name-second {
  color: white;
  padding-top: 48px;
  padding-bottom: 20px;
  margin-right: 123px;
  margin-left: 123px;
}
.content-description-second {
  margin-right: 48px;
  margin-left: 48px;
  padding-top: 25px;
}
.index-content-advantages {
  background-color: #eeeeee;
  display: flex;
  min-height: 257px;
}
.index-advantages {
  text-align: center;
  width: 400px;
}
.content-name-advantages {
  margin-right: 140px;
  margin-left: 140px;
  padding-top: 48px;
  padding-bottom: 20px;
}
.content-description-advantages {
  margin-right: 68px;
  margin-left: 68px;
  padding-top: 25px;
}
.index-content-booking {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.content-interest{
  text-align: center;
  display: block;
  font-size: 30px;
  margin-bottom: 25px;
}
.date{
  display: block;
  text-align: center;
  font-size: 14px;
  width: 440px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.btn-search{
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #766357;
  color: white;
  width: 574px;
  min-height: 57px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.appointment-form{
font-size: 14px;
font-weight: bold;
width: 574px;
min-height: 396px;
margin-left: auto;
margin-right: auto;
padding-top: 55px;
padding-bottom: 55px;
padding-left: 58px;
padding-right: 58px;
}
.check-in,
.departure {
  margin-bottom: 30px;
}
.find-hotels{
  margin-bottom: 0;
}
.map{
  background: url("../img/background-map.jpg") no-repeat;
}
.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 132px;
  padding-right: 103px;
}
.main-footer-layout {
  display: flex;
}
.footer-hashtag {
  margin-right: 256px;
  min-height: 50px;
}
.footer-social {
  min-height: 50px;
}

.footer-copyright {
  display: flex;
  font-size: 14px;
  min-height: 50px;
  margin-left: auto;
}
.copyright {
  margin-right: 9px;
}
.copyright-logo {
  margin-left: auto;
}

.container-hotels {
  padding-left: 72px;
  padding-right: 72px
}
.search-filter {
  display: flex;
  background: url("../img/background-hotels.jpg") no-repeat;
  font-size: 14px;
  color: white;
  height: 187px;
  padding-top: 30px;
  margin-right: -72px;
  margin-left: -72px;
}
.search-filter-infrastructure {
  font-size: 14px;
  width: 240px;
  margin-left: 72px;
  margin-right: 0;
  margin-bottom: 20px;
}
.search-filter-type {
  width: 288px;
  padding-left: 15px;
}
.search-filter-cost {
  width: 328px;
  margin-right: 72px;
  margin-left: auto;
}
.field{
  margin-bottom: 23px;
  min-height: 22px;
}
.result-filter {
  display: flex;
  align-items: baseline;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.search-number{
  margin-right: 50px;
}
.sorting{
  font-size: 12px;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.search-navigation-list {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 0;
  margin-bottom: 0;
}
.search-navigation-cost {
  margin-right: 33px;
}
.search-navigation-type {
  margin-right: 33px;
}
.search-navigation-rating {
  margin-right: 504px;
}
.search-navigation-down {
  margin-right: auto;
}


.hotel,
.motel,
.apartments {
  display: flex;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel-img {
  height: 90px;
  margin-right: 30px;
}
.hotel-information {
  width: 260px;
  font-size: 0;
}
.type-housing,
.cost {
  display: inline-block;
  font-size: 14px;
  width: 110px;
  margin-right: 6px;
  margin-top: 9px;
  margin-bottom: 9px;
}
.btn-detail {
  color: white;
  font-size: 14px;
  background-color: #81b3d2;
  display: inline-block;
  width: 110px;
  padding-top: 4px;
  height: 23px;
  text-align: center;
  margin-right: 6px;
}
.btn-booking {
  color: white;
  font-size: 14px;
  background-color: #766357;
  display: inline-block;
  width: 142px;
  padding-top: 4px;
  height: 23px;
  text-align: center;
}
.raiting-stars {
  width: 110px;
  margin-left: auto;
}
.raiting-number-stars {
  font-size: 0;
  margin-bottom: 46px;
}
.star {
  display: inline-block;
  margin-left: 7px;
  font-size: 14px;
}
.star:first-child {
  margin-left: 0px;
}
.rating {
  display: inline-block;
  background-color: #f2f2f2;
  width: 110px;
  height: 22px;
  padding-top: 4px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
