body {
  font-size: 21px;
  line-height: normal;
  color: black;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
  font-size: 16px;
}
p {
  font-size: 14px;
}
